<h1>Entries#show</h1>
<p>Find me in app/views/entries/show.html.erb</p>

<center>

  <p>
    <strong> DAY </strong>
    <%= @entry.day %>
  </p>
  <p>
    <strong> FOOD </strong>
    <% @entry.foods.each do |food| %>
      <p>
        <!-- <strong>Name</strong> -->
        <%= food.name %> | <%= food.calorie_count%>
      </p>
      <!-- <p>
        <strong>Calorie Count</strong>
        <%= food.calorie_count %>
      </p> -->
    <% end %>

  <h4> Add some calorie counts </h4>

  <%= form_for ([@entry, @entry.foods.build]) do |f| %>
    <p>
      <%= f.label :name %> <br>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :calorie_count %> <br>
      <%= f.number_field :calorie_count %>
    </p>

    <%= f.submit %>
  <% end %>

  <br>

  <%= link_to "ENTRIES INDEX", entries_path %> <br>
  <%= link_to "FRONT PAGE DASHBOARD", root_path %>

</center>
