<h1>Entries#show</h1>
<p>Find me in app/views/entries/show.html.erb</p>

<% total_cal = @entry.foods.sum(:calorie_count) %>

<center>

  <p>
    <strong> DAY </strong>
      <p>
        <%= @entry.day.strftime("%A, %B %d, %Y") %>
      </p>
  </p>
  <p>
    <strong> FOOD </strong>
  </p>
    <% @entry.foods.each do |food| %>
      <p>
        <%= food.name %> | <%= food.calorie_count %> 
        <%= link_to "delete", [@entry, food], :method => :delete,
            data: { confirm: "Know what you're doing?" } %>
      </p>
    <% end %>

  <button class="unhide-form"> Add some calorie counts </button>

  <div id="hidden-food-form">
  <%= form_for ([@entry, @entry.foods.build]) do |f| %>
    <p>
      <%= f.label :name %> <br>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :calorie_count %> <br>
      <%= f.number_field :calorie_count %>
    </p>

    <%= f.submit %>
  <% end %>
  </div>
  <br>

  <br><%= link_to "ENTRIES INDEX", entries_path %> <br>
  <%= link_to "FRONT PAGE DASHBOARD", root_path %> <br>

  <h2> DAILY TOTAL </h2>
  <p>
    <h3><%= total_cal %></h3>
  </p>
  <h2> CALORIES LEFT </h2>
  <p>
    <h3><%= 2_000 - total_cal %></h3>
  </p>

</center>
